<div class="box" id="submissions-table">
  <div class="table-container">
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th class="nowrap">Student</th>
          <th class="nowrap">Submitted</th>
          <th class="has-text-right nowrap">Duration (min)</th>
          <th class="has-text-right nowrap">Requests</th>
          <th class="nowrap">Tags</th>
          <th class="has-text-right"></th>
        </tr>
      </thead>
      <tbody id="submissions-table-body"
             hx-get="/admin/assignment/{{ assignment_id }}/table_rows"
             hx-trigger="load"
             hx-target="#submissions-table-body"
             hx-swap="outerHTML">
        <tr><td colspan="6" class="has-text-grey">Loading…</td></tr>
      </tbody>
    </table>
  </div>
</div>
