<!doctype html>
<html>
  <head>
        {% include "partials/head_include.html" %}
        <title>Dashboard | Palantir</title>
  </head>
<body>
  {% include "partials/navbar.html" %}
  <div class="container">
     <section class="section">
      <div class="container">
        <div class="columns is-variable is-12">
          <div class="column is-12-desktop is-12-tablet is-12-mobile">
            <div class="box" style="border-radius: 1rem;">

              <!-- Subscribe form -->
              <form
                hx-post="/admin/subscribe"
                hx-target="#subs"
                hx-swap="innerHtml"
                class="mb-5"
                autocomplete="off"
              >
                <div class="field">
                  <label class="label" for="assignment_id">Find assignment</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      id="assignment_id"
                      name="assignment_id"
                      type="text"
                      required
                      placeholder="Enter assignment id (e.g. 86)"
                    />
                    <span class="icon is-left">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                  </div>
                  <p class="help">Subscribe to an assignment to see all related submissions.</p>
                </div>

                <div class="field is-grouped">
                  <div class="control">
                    <button type="submit" class="button">Subscribe</button>
                  </div>
                </div>
              </form>

              <!-- Subscriptions list -->
              <div id="subs">
                {% include "dashboard/assignment_list.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>