[Unit]
Description=Palantir Collector
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
LogsDirectory=palantir-collector
LogsDirectoryMode=0755
StandardOutput=file:/var/tmp/palantir.log
ExecStart=/usr/local/bin/palantir-collector
Environment=MONITOR_USER=vake
Restart=always
RestartSec=2
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target

